body {
  background-color:   #ffff66;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.jumbotron h1{
  color: #cc5200;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.jumbotron{
  padding-top: auto;
  background-color:transparent;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 40px;
}

.burger-img {
  margin-bottom: 10px;
  height: 20%;
  width: 20%;
  background-color: #ffff99;
  border-radius: 30%;
}

.submitFont{
  color: #333333;
}

#submit-button{
  background: linear-gradient(to top right, #cc3300 5%, #ff6600 94%);
}